.field_chooser{ :id => "field#{field.object_id}" }
  - field_types = ["SingleLineTextBox", "TextBox", "ComboContainer", "CheckContainer", "RadioContainer"]
  - field_types.each do |type|
    = choose_field_type_link("field#{field.object_id}", type)
    %br
