.option_container
  %span.prompt= field.prompt
  %br
  - field.subfields.each do |subfield|
    %input{:type => :checkbox, :name => "field#{field.id}", :value => subfield.prompt}
      = render_field(subfield)
      %br
