%h1
  Surveys
%table
  -@surveys.each do |survey|
    %tr
      %td
        %a{:href => edit_survey_schema_url(survey.id)}
          =survey.id
      %td= survey.title
= link_to "Create new survey", new_survey_schema_path