%form.survey{ :name => "survey#{@survey.id}" }
  %h1.title= @survey.title  + "("                                |
       + link_to("edit", edit_survey_schema_path(@survey)) + ")" |
  %h3.preamble= @survey.preamble
  = render :partial => 'show_field_group', :collection => @survey.field_groups
